<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение информации о пользователе</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>



<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-6">
            <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
                <div class="form-group">
                    <label for="firstName">Введите имя: </label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastName">Введите фамилию: </label>
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="email">Введите Email: </label>
                    <input type="text" th:field="*{email}" id="email" class="form-control"/>
                </div>
                <input type="submit" value="Внести изменения" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>

